        body {
            background-color: bisque;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-image: url("https://ichef.bbci.co.uk/ace/standard/766/cpsprodpb/ab64/live/1bb44100-7bf4-11f0-aece-9756192b0836.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .container {
            background-color: rgba(255, 255, 255, 0.632);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            align-items: center;
            width: 50%;
            min-width: 400px;
        }
        h1 {
            text-align: center;
            color: black;
        }
        label {
            display: block;
            margin-bottom: 1px;
        }
        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
        #mensagem {
            margin-top: 15px;
            padding: 10px;
            border-radius: 4px;
            text-align: center;
            opacity: 1;
            transition: opacity 1s ease-out;
        }
        #mensagem.erro {
            background-color: #f8d7da;
            color: #721c24;
        }
        #mensagem.sucesso {
            background-color: #d4edda;
            color: #155724;
        }
        #mensagem.oculta {
            opacity: 0;
        }
